h1, h2, h3, h4, h5 {
  color: #ddd;
}

b, strong {
  color: #fff;
}

a {
  color: #0d9;
}

html {
  color: #ccc;
  font-family: "Vollkorn", serif;
  font-feature-settings: 'lnum', 'pnum';
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #111;
}

body {
  min-width: 0;
  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}

.links {
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.links a {
  color: inherit;
  font-family: monospace;
}

.footnote-ref {
  font-size: 0.8em;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
}
