:root {
    --col-rosewater: #f4dbd6;
    --col-flamingo: #f0c6c6;
    --col-pink: #f5bde6;
    --col-mauve: #c6a0f6;
    --col-red: #ed8796;
    --col-maroon: #ee99a0;
    --col-peach: #f5a97f;
    --col-yellow: #eed49f;
    --col-green: #a6da95;
    --col-teal: #8bd5ca;
    --col-sky: #91d7e3;
    --col-sapphire: #7dc4e4;
    --col-blue: #8aadf4;
    --col-lavender: #b7bdf8;
    --col-text: #cad3f5;
    --col-subtext1: #b8c0e0;
    --col-subtext0: #a5adcb;
    --col-overlay2: #939ab7;
    --col-overlay1: #8087a2;
    --col-overlay0: #6e738d;
    --col-surface2: #5b6078;
    --col-surface1: #494d64;
    --col-surface0: #363a4f;
    --col-base: #24273a;
    --col-mantle: #1e2030;
    --col-crust: #181926;
}
